---
import 'the-new-css-reset/css/reset.css';
import "../styles/main.css";
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Slobich Graphics</title>
  </head>

  <body>
    <main>
      <h1>5L081CH.6R4PH1C5</h1>
      <p>Coming back soon</p>
    </main>
  </body>
</html>
